@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    height: 85vh;
    background-image: url("../imagens/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0px;
    z-index: -1;
}
.title span{
    --total: calc(var(--duration) + var(--delay));
    position: relative;
    display: block;
    color: transparent;
    overflow: hidden;
    animation: revealText 1s var(--total) forwards;
    font-size: 25px;
    padding-left: 10px;
    font-family: 'Dancing Script';
}

.title span::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #bb93fc;
    animation: rollIn var(--duration) var(--delay) forwards,
    rollOut var(--duration) var(--total) forwards;
}

.title span:nth-child(2)::after{
    border-top: 3px solid #896ab9;
}

@keyframes revealText {
    to{
        color: #fff;
        text-shadow: 1px 1px 1px black;
    }
}

@keyframes rollIn {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

@keyframes rollOut {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(105%);
    }
}

section{
    color: black;
    background-color: white;
    height: 150px;
    display: flex;
    box-shadow: inset 0px 2px 4px 0px rgb(0, 0, 0, .4);
}

section .content{
    display: block;
    padding-left: 5px;
    text-indent: 20px;
}
section.sobre{
    box-shadow: none;
}
section.sobre::before{
    content: '';
    background-color: blue;
    width: 5%;
    height: 100%;
    display: block;
}
section.trabalhos::after{
    content: '';
    background-color: red;
    width: 5%;
    height: 100%;
    display: block;
}
section.contato::before{
    content: '';
    background-color: green;
    width: 5%;
    height: 100%;
    display: block;
}