@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    height: 100vh;
    background-image: url("../imagens/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0px;
    z-index: -1;
    
}
.title span{
    --total: calc(var(--duration) + var(--delay));
    position: relative;
    display: block;
    color: transparent;
    overflow: hidden;
    animation: revealText 1s var(--total) forwards;
    font-size: 35px;
    font-family: 'Dancing Script';
    text-align: center;
}

.title span::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #bb93fc;
    animation: rollIn var(--duration) var(--delay) forwards,
    rollOut var(--duration) var(--total) forwards;
}

.title span:nth-child(2)::after{
    border-top: 3px solid #896ab9;
}

@keyframes revealText {
    to{
        color: #fff;
        text-shadow: 1px 1px 1px black;
    }
}

@keyframes rollIn {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

@keyframes rollOut {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(105%);
    }
}

main{
    display: grid;
    grid-template-columns: .98fr;
    justify-content: center;
    transform:  translateY(-80px);
}
section{
    background-color: white;
    height: 200px;
    text-align: justify;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.527);
}

section .content{
    display: block;
    padding: 0px 7%;
    text-indent: 20px;
    
}
section.sobre::before{
    content: '';
    background-color: blue;
    width: 5%;
    height: 100%;
    position: absolute;
    border-radius: 10px 0px 0px 10px ;

}
section.trabalhos::after{
    content: '';
    background-color: red;
    width: 5%;
    height: 100%;
    position: absolute;
    right: 0px;
    border-radius: 0px 10px 10px 0px ;
}
section.contato::before{
    content: '';
    background-color: green;
    width: 5%;
    height: 100%;
    position: absolute;
    border-radius: 10px 0px 0px 10px ;
}

.error{
    display: none;
    background-color: rgba(255, 93, 93, 0.705);
    color: white;
    text-shadow: 1px 1px 1px red;
}
.adicionado{
    display: none;
    background-color: rgb(57, 180, 57);
    color: white;
    text-shadow: 1px 1px 1px green;
}
a #btn-admin{
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgb(129, 220, 250);
    border: 3px solid rgb(71, 206, 252);
    border-radius: 10px
}
#btn-admin{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.formContato{
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 25px;
}

@media screen and (min-width: 767px) {
    
    main{
        grid-template-columns: .48fr .48fr;
        justify-content: space-around;
    }

}
